.menuButton{
    width: 150px;
    height: 40px;
    background-color: #222222;
    color: #fff;
    border: 1px solid yellow;
    border-radius: 5px;
    cursor: pointer;
}
.menuButton:hover{
    box-shadow: 0 0 8px gold;
}
.menuButton:focus{
    outline: none;
}
.menuButton.registerButton{
    margin: 0 60px 0 40px;
}
