header{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #161C23;
}
.menuWrap{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}
.logo{
    display: flex;
    align-items: center;
    width: 50%;
}
.logo p{
    margin-left: 200px;
}